#main {
    margin: 7em auto
}

#main > h1 {
    text-align: center;
}

.form-container{
    width: 100%; 
    padding: 1em;
}

.form-container > form{
    display: flex; 
    flex-direction: column; 
    width: 80%; 
    margin: auto;
}

input[type=text], input[type=password] {
    text-align: center; 
    height: 3em; 
    font-size: 1em; 
    width: 100%;
}

input ~ input  {
    margin-top: 10px;
}

input[type=submit] {
    font-size: 1.5em; 
    min-width: 80%; 
    margin-top: 10px;
}
