<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Index" />
    <link rel="stylesheet" href="/static/css/default.css" style type="text/css" >
    <style type="text/css">
      .post-title, a.active, pre, hr { background: {{ theme_colour }}; }
      a,a:visited { color: {{ original_colour }}; }
      a.active { color: white; }
      blockquote { border-left: 5px solid {{ theme_colour }}; } 
      table tr { border-bottom: 1px solid {{ theme_colour }};}
      body {
        background-image: url("/static/img/green.jpg"), url("/static/img/leaves.jpg"), url("/static/img/blue.jpeg");
        background-repeat: no-repeat repeat;
        background-position: left bottom, center, right top;
      }
    </style>
    <h1 class="post-title">{{department_name.upper()}}</h1>
</head>

  <body>
    <nav role="navigation">  
      <br>
      <br>
      <br>
      <br>
      <a href="/" class="active"> MAIN </a>
      {% for name in sections %}
      <a href="{{ name }}" class="separate">  {{ name.upper() }} </a>
      {% endfor %}
    </nav>
    <footer class="footer" role="contentinfo"></footer>
  </body>

