<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ section_name }}</title>
    <link rel="stylesheet" href="/static/css/default.css" >
    <link rel="stylesheet" href="/static/css/single-app.css" >
    <script src="/static/js/sweetalert2.all.min.js"></script>
    
    <script>
        function show_notification(){
            Swal.fire({
                icon: 'warning', 
                html: 'ALL EXPERIENCES RECORDS ARE <br/><strong style="color:red">CONFIDENTIAL</strong><br/>' + 
                'ACCESS BY UNAUTHORIZED PERSONNEL IS STRICTLY PROHIBITED PERPETRATORS WILL BE TRACKED, LOCATED, AND DETAINED".', 
                showClass: {popup: 'animate__animated animate__fadeInDown'},
                hideClass: {popup: 'animate__animated animate__fadeOutUp'}
            }).then((result) => 
                Swal.fire({
                    icon: 'info', 
                    text: 'The system supports both normal querying and the advanced query. \n' +
                    'As the the normal one, the input query string will be handled as the id of records. For example, " 19fa1349" means to query the record with such an id. \n' + 
                    'The system support advanced format of searching. Specificially, the searching txt can be json format like '+
                    '{"id": "BKIGIDWQB-BHUAD-DBKBDAD", "type": "experiment"} or {"type": "experiment"}'
                })
            )
        }
    </script>
    <style type="text/css">
      .post-title, a.active, pre, hr { background: {{ theme_colour }}; }
      a,a:visited { color: {{ theme_colour }}; }
      a.active { color: white; }
      blockquote { border-left: 5px solid {{ theme_colour }}; } 
      table tr { border-bottom: 1px solid {{ theme_colour }};}
    </style>
</head>

<body 
{% if section_name == "records" %} 
    onload="show_notification()"
{% endif %}
>
    <header role="banner">
        <nav role="navigation">
            <ul>
                <li><a href="/">MAIN</a></li>
                {% for name in sections %}
                <li> <a href="{{ name.lower() }}" 
                {% if name.lower()==section_name.lower() %} 
                    class="active" 
                {% endif %}
                > {{ name.upper() }} </a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <hr>
    <main id="main" role="main">
        <h1>{{ section_name.upper() }}</h1>
        <div class="form-container">
        <form action="{{ submit_to }}" method="post">
        {{ form.csrf_token }}
        {% for field in form %} {{ field() }} {% endfor %}
        </form>
        </div>
    </main>
    <hr>
    <footer class="footer" role="contentinfo">  </footer>


</body>

</html>