<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ section_name }}</title>
    <link rel="stylesheet" href="/static/css/default.css" >
    <link rel="stylesheet" href="/static/css/single-app.css" >
    <style type="text/css">
      .post-title, a.active, pre, hr { background: {{ theme_colour }}; }
      a,a:visited { color: {{ theme_colour }}; }
      a.active { color: white; }
      blockquote { border-left: 5px solid {{ theme_colour }}; } 
      table tr { border-bottom: 1px solid {{ theme_colour }};}
    </style>
</head>

<body>
    <header role="banner">
        <nav role="navigation">
            <ul>
                <li><a href="/">MAIN</a></li>
                {% for name in sections %}
                <li> <a href="{{ name.lower() }}" 
                {% if name.lower()==section_name.lower() %} 
                    class="active" 
                {% endif %}
                > {{ name.upper() }} </a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <hr>
    <main id="main" role="main">
        <h1>{{ query_str }}</h1>
        <ul>
        {%- for item in query_result  %}
            <li><a href="/{{ section_name }}/{{ item.id }}">{{ item.id }} (Security Level: {{ item.slevel }})</a>
        {%- endfor %}
        </ul>
    </main>
    <hr>
    <footer class="footer" role="contentinfo">  </footer>
</body>

</html>